  
  .container {
    display: flex;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    background-color: darkred;
    color: white;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    z-index: 999;
    position: relative;
  }
  
  .content {
    flex: 1;
    display: flex;
  }
  
  .sidebar {
    background-color: lightgray;
    width: 400px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    overflow-y: scroll;
    height: 92vh;
    z-index: 999
  }
  
  
  .navbar h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  #map {
    cursor: default;
    position: relative;
    flex-grow: 1;
    height: 94.9vh;
    width: 100%;
  }
  

  #floating-info-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

#close-floating-info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: url('images/closeBtn.png') no-repeat;
  background-size: 100%;
  cursor: pointer;
}

span.info-box {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

#blur {
  position: absolute;
  background: rgba(71, 68, 68, 0.62);
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#qrImage {
  display: block;
  width: 35%;
  margin-right: 60px;
  /*margin-top: 7%;*/
  float: right;
}

#bdImage {
  display: block;
  width: 50%;
  margin: 10px 0;
  /*margin-left: 40px;*/
  float: left;
}

  .QR-descriptiono-box
  {
    /*position: relative;*/
    /*right: 10%;*/
    display: inline-block;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;

  }
  .image-descriptiono-box
  {
    /*position: relative;*/
    /*left: 0%;*/
    /*margin-left: 20%;*/
    width: 50%;
    display: inline-block;
    /*float: left;*/

  }

  .collapse, .collapse ul {
    list-style-type: none;
    padding-left: 0px;
  }

  /* (B) LIST ITEMS */
  .collapse li {
    padding: 10px;
    margin: 5px;
    background-color: darkgray;
  }
  .second-level >li
  {
    /*width: 100%;*/
    /*padding-left: 0 !important;*/
    margin-right: 0 ;
    margin-left: 0 ;
    border: solid 2px black;
    padding-bottom: 10px;
    padding-top: 10px;

  }
  li.first-level
  {
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;
  }

  /* (C) TOGGLE */
  .toggle {
    padding: 10px;
    cursor: pointer;
  }
  .toggle::before {
    display: inline-block;
    width: 15px;
    content: "+";
  }
  #info-button
  {
    position: absolute;
    top: 1%;
    right: 2%;

    width: 50px;
    height: 50px;
    background: url("images/info.png") no-repeat scroll 0 0 transparent;
    z-index: 1000;
    border-color: transparent;
  }
  .toggle.show::before { content: "-"; }

  /* (D) SHOW/HIDE */
  .collapse ul { display: none; }
  .toggle.show + ul { display: block; }

  .scroll-btn{
    width: 100%;
    padding: 10%;
    /*background-color: transparent;*/
    border: none;
    background-color: #8b000063 !important;
    border-radius: 50px;

  }
  #button-up {
    position: sticky;
    top: 0;
    background: url('images/up-arrow.png') no-repeat scroll center transparent;
    background-size: 70px auto; /* to specify dimensions explicitly */
  }
  #button-down {
    position: sticky;
    bottom: 0;
    background: url('images/up-arrow.png') no-repeat scroll center transparent;
    background-size: 70px auto; /* to specify dimensions explicitly */
    transform: rotate(180deg);

  }